.animated-text-container {
  display: inline-block;
}

.animated-text-word,
.animated-text-letter {
  display: inline-block;
}

.animated-text-word {
  white-space: pre; /* to preserve the space at the end */
} 